@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  color: rbg(179, 131, 226);
  font-size: 4rem;
  text-align: center;
}
